body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #ffffff;
    text-align: center;
}

.container {
    margin-top: 60px;
}

input {
    width: 260px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin: 10px;
    outline: none;
}

.buttons button {
    margin: 8px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.buttons button:nth-child(1) {
    background-color: #ef4444;
    color: white;
}

.buttons button:nth-child(2) {
    background-color: #22c55e;
    color: white;
}

.buttons button:nth-child(3) {
    background-color: #64748b;
    color: white;
}

.dashboard {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

.card {
    background-color: #1e293b;
    padding: 15px;
    width: 160px;
    border-radius: 8px;
}

.report-card {
    background-color: #1e293b;
    width: 340px;
    margin: 12px auto;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cut {
    border-left: 5px solid #ef4444;
}

.restored {
    border-left: 5px solid #22c55e;
}

.delete-btn {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}